<nav class="pt-2 pb-3 mb-4 border-bottom ">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0">
                <img class="logo" src="assets/logo/angular-cat-logo.svg" alt="AngularCat">
            </a>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2" routerLink="/" routerLinkActive="active"
                       [routerLinkActiveOptions]={exact:true}>shop</a></li>
                <li><a class="nav-link px-2" routerLink="about" routerLinkActive="active">about us</a></li>
                <li><a class="nav-link px-2" routerLink="contact" routerLinkActive="active">contact</a></li>
            </ul>
            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-danger position-relative mx-3" routerLink="/cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                        {{ quantity }}
                    </span>
                </button>
            </div>
        </div>
    </div>
</nav>
